:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #18a0fbb;
  --primary-white-color: #ffffff;
}

.body {
    color: black;
    font-family:Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
/*logo*/
.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.accent {
    color: blue;
}
/* Site nav */
.site-nav-list {
color: black;
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
list-style: none;

}
.site-nav-link {
color: black;
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
list-style: none;
}
.site-nav-link:hover,
.site-nav-link:focus {
    color: blue;
}
/* Hero */
/* .hero {} */
.hero-title {
    color: wheat;
    font-family:Roboto, sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
}
.hero-button-service {
    color: black;
    font-family:Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
}

.hero-button-service:focus,
.hero-button-service:hover
{
    color: blue;
}
/* Benefits */
.section-title {
    color: black;
    font-family:Roboto, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.section-items {
    list-style: none;   
}
.section-item-link {
    color:black;
    font-family:Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-align: left;  
}
.section-subtitle {
    color: black;
    font-family:Roboto, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
}
.text {
    color: black;
    font-family:Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-align: left;  
}
/* footer */
.address {
    color: black;
    font-family:Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-align: left; 
}
.link-aside {
    color: black;
    font-family:Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-align: left;   
}

h1,h2,h3,h4,h4,h6 {
    font-family: Roboto, sans-serif;
    font-weight: 500;
}
/* portholio */
.button-type {
    color:black;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    list-style: none;
}
.button-type:focus,
.button-type:hover
{
    color: blue;
}
.portholio-section-subtitle {
    color: black;
    font-family:Roboto, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    text-align: left;
}
.portholio-text {
    color: black;
    font-family:Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    text-align: left;  
}
